/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: radial-gradient(135deg, #f7b8c3, #ff7e5f);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 90%;
  max-width: 1100px;
  max-height: 500px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 10px 20px 50px rgba(252, 3, 3, 0.2);
  backdrop-filter: blur(12px);
  overflow: hidden;
}

/* Left Side */
.left {
  flex: 1;
  color: white;
  background:#e46379;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.left h1 span {
  color: #fff200;
}

.left p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Right Side */
.right {
  flex: 1;
  background: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Navbar */
.navbar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.nav-btn {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  background: #f0f0f0;
  transition: all 0.3s ease;
}

.nav-btn.active {
  background: #b30000;
  color: white;
  box-shadow: 0px 4px 15px rgba(255, 75, 43, 0.4);
}

.nav-btn:hover {
  transform: translateY(-3px);
}

/* Form */
.form-box {
  width: 100%;
  max-width: 350px;
  margin: auto;
  max-height: 500px;       /* make scrollable */
  overflow-y: auto;        /* vertical scroll */
  padding: 20px;
}

.title {
  font-size: 24px;
  color: #b30000;
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #b30000;
  box-shadow: 0px 0px 5px rgba(255,75,43,0.3);
}

/* Buttons */
.btn {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: 0.3s;
}

.login-btn {
  background: #b30000;
  color: white;
}

.login-btn:hover {
  background: #b30000;
}

.signup-btn {
  background: transparent;
  border: 2px solid #b30000;
  color: #b30000;
}

.signup-btn:hover {
  background: #b30000;
  color: white;
}

.signup-box {
  margin-top: 15px;
  text-align: center;
}
